POSTGRES_USER=
POSTGRES_PASSWORD=

USERS_DB=
ORDERS_DB=
PAYMENTS_DB=
PRODUCTS_DB=

USERS_DB_URL=
ORDERS_DB_URL=
PAYMENTS_DB_URL=
PRODUCTS_DB_URL=
 
API_GATEWAY_URL=
USERS_SERVICE_URL=
PRODUCTS_SERVICE_URL=
ORDERS_SERVICE_URL=
PAYMENTS_SERVICE_URL=

OTEL_OTLP_ENDPOINT=
PROMETHEUS_URL=
GRAFANA_URL=
LOKI_URL=
TEMPO_URL=