[submodule "services/vortex-api-gateway"]
	path = services/vortex-api-gateway
	url = git@github.com:Oberdann/Vortex-API-Gateway.git
[submodule "services/vortex-products"]
	path = services/vortex-products
	url = git@github.com:Oberdann/Vortex-Products.git
[submodule "services/vortex-users"]
	path = services/vortex-users
	url = git@github.com:Oberdann/Vortex-User.git
